include ../../includes/galleryCategoryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Commercial | Ismail Salah")
  body
    +nav
    //- start main page
    
    .main
      +heading("City Centre Bahrain")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-1.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-1.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-2.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-2.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-3.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-3.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-4.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-4.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-5.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-5.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-6.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-6.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-7.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-7.png") 
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-8.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-8.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-9.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-9.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-10.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-10.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-11.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-11.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-12.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-12.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-13.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-13.png") 
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-14.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-14.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-15.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-15.png")       
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-16.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-16.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-17.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-17.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-18.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-18.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-19.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-19.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-20.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-20.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/city-center/city-center-21.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/city-center/city-center-21.png")        

    //- End main page
    +footer
    +loading
    +scripts