include ../../includes/galleryCategoryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Commercial | Ismail Salah")
  body
    +nav
    //- start main page
    
    .main
      +heading("GIG Bahrain")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-1.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-1.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-2.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-2.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-3.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-3.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-4.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-4.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-5.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-5.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-6.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-6.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-7.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-7.png") 
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-8.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-8.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-9.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-9.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-10.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-10.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-11.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-11.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-12.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-12.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-13.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-13.png") 
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-14.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-14.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-15.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-15.png")       
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-16.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-16.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-17.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-17.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-18.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-18.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-19.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-19.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-20.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-20.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/gig/gig-21.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/gig/gig-21.png")            

    //- End main page
    +footer
    +loading
    +scripts