include ../../includes/galleryCategoryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Commercial | Ismail Salah")
  body
    +nav
    //- start main page
    
    .main
      +heading("YOU app")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-1.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-1.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-2.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-2.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-3.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-3.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-4.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-4.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-5.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-5.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-6.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-6.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-7.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-7.png") 
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-8.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-8.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-9.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-9.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-10.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-10.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-11.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-11.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-12.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-12.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-13.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-13.png") 
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-14.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-14.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-15.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-15.png")       
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-16.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-16.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-17.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-17.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-18.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-18.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-19.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-19.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-20.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-20.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-21.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-21.png")     
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/commercial/you-app/you-app-22.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/commercial/you-app/you-app-22.png")             

    //- End main page
    +footer
    +loading
    +scripts