include ../../includes/galleryCategoryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Education | Ismail Salah")
  body
    +nav
    //- start main page
    
    .main
      +heading("HiPO Youth")
      .container
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-1.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-1.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-2.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-2.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-3.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-3.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-4.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-4.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-5.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-5.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-6.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-6.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-7.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-7.png") 
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-8.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-8.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-9.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-9.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-10.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-10.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-11.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-11.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-12.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-12.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-13.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-13.png") 
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-14.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-14.png")
        div.container-fluid(data-aos="zoom-in-up")
          a(href="../../imagesGallery/education/hipo/hipo-15.png", class="fancybox", data-fancybox="gallery1")
            img(src="../../imagesGallery/education/hipo/hipo-15.png")              
        div.container-fluid(data-aos="zoom-in-up")
          a(href="https://www.youtube.com/watch?v=ne4A4qqoW5g", class="fancybox", data-fancybox="gallery1")
            video(width="320", height="240", poster="https://i.ytimg.com/vi/ne4A4qqoW5g/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBms69LoLKNUw_OObbu4RJTl67lNQ")
              source(src="../../imagesGallery/education/cinematic-video.mp4", type="video/mp4")

    //- End main page
    +footer
    +loading
    +scripts