include ../includes/categoryIncludes.pug
doctype html
html(lang="en")
  head
    +head("Education | Ismail Salah")
  body
    +nav
    //- Start Gallery
    section.gallery#gallery
      +heading("Education", "Collection of albums for the education Industry")
      .container
        .container
          a(href="education/hipo" data-aos="zoom-in-up").gallery-box
              .image
                img(src="../ImagesGallery/education/hipo/hipo-3.png")
              .text.center-flex
                p HiPO Youth
          a(href="education/muharraq-center-1" data-aos="zoom-in-up").gallery-box
            .image
              img(src="../imagesGallery/education/muharraq-center-1/muharraq-center-1-3.png")
            .text.center-flex
              p Muharraq Center 1
          a(href="education/muharraq-center-2" data-aos="zoom-in-up").gallery-box
            .image
              img(src="../imagesGallery/education/muharraq-center-2/muharraq-center-2-1.png")
            .text.center-flex
              p Muharraq Center 2
          a(href="education/muharraq-center-3" data-aos="zoom-in-up").gallery-box
            .image
              img(src="../imagesGallery/education/muharraq-center-3/muharraq-center-3-7.png")
            .text.center-flex
              p Muharraq Center 3
    //- End Gallery
    +footer
    +loading
    +athers("education")
